# Editor files
*.sw[a-p]
*~
\#*\#

# Build directory
/*build*/

# IDE files
/.idea/
/.cproject
/.project
/.settings/
/.vscode
/.cache

# Local CMake presets
/CMakeUserPresets.json

# python
__pycache__/

# dependencies
/deps
